<div class="grey333bg positionrelative">
	<div class="row content2 padding3t1b">
		<div class="large-4 columns">
			<%= image_tag('messagestitle.png', class: "") %>
		</div>
		<div class="large-7 columns text-center greytabsposition">
			<ul class="inline-list greytabs">
				<li>Edit Account</li>
				<li>My Profile</li>
			</ul>
		</div>
	</div>
</div>

<div class="row content1 padding2t padding2b">
	<div class="row">
		<div class="large-12 columns">
			<div class="row">
				<div class="large-12 columns content1">
			    <div class="panel">
			      <div class="row">
			        <div class="large-12 columns text-left">
			          <h5 class="weight500">Messages</h5>
			        </div>
			      </div>
			    </div>
			    <div class="row supportrow1">
			    	<div class="large-3 columns messagescolumnbg supportrow1 br1blue">
			    		<div class="sidehoverbutton messagetabs"><h6 class="content margin0b font08 sidehovertext">Inbox</h6></div>
			    		<div class="sidehoverbutton messagetabs"><h6 class="content margin0b font08 sidehovertext">Sent Messages</h6></div>
			    	</div>
			    	<div class="large-9 columns whitebg supportrow1">
			    			<div class="row content padding2v messageheader">
				    			<div class="large-6 columns">
					    			<h6 class="lineheight0 margin0b weight500"><%= @message.sender.forename + " " + @message.sender.surname %><%= image_tag('rightarrow.png', class: "rightarrow") %><span class="weight300"><%= @message.recipient.forename + " " + @message.recipient.surname %></span></h6>
					    		</div>
					    		<div class="large-6 columns text-right">
					    			<h6 class="font09 lineheight0 margin0b weight300">29/10/2014</h6>
					    		</div>
					    	</div>
			    			<div class="row content2 padding2v">
				    			<div class="large-12 columns">
					    			<p class="weight300 font09"><%= @message.body %></p>
					    		</div>
					    	</div>
			    			<div class="row content2 padding1v messagefooter">
				    			<div class="large-12 columns text-right">
					    			<h6 class="lineheight0 margin0b weight500 font08"><span class="replybutton">Reply</span><span class="deletebutton">Delete</span></h6>
					    		</div>
					    	</div>
			    	</div>
			    </div>
			  </div>
			</div>
	  </div>
	</div>
	</div>

</div>

	<script type="text/javascript">
	  (function() {

	      $(function() {

	        $(function() {
	          $('.supportrow1').matchHeight();
	        });

	        $(function() {
	          $('.supportrow2').matchHeight();
	        });
	        
	      });

	  })();
	</script>