   <div class="row">
      <div class="large-8 columns hqnewstrigger2">
        <div class="news1bg latestnews">
        	<div class="news1overlay latestnews">
	          <div class="padding3t1b content2">
	            <h6 class="white weight300 font07 hqnewsdate">18th October 2014</h6>
	            <h3 class="white weight700 hqnewstitle">New headquaters launch in L.A</h3>
	            <p class="white weight300 font09 hqnewsdesc">But I must explain to you how all this mistaken idea of denouncng pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachnings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because...</p>
	          </div>
        </div></div>
      </div>
      <div class="large-4 columns news23overlay text-center">
        <div class="news2bg latestnews">
        	<div class="news2overlay latestnews">
	          <div class="row">
	            <div class="large-12 columns">
	                <div class="padding45t4b content2">
	                  <h6 class="white weight300 font07">15th October 2014</h6>
	                  <h4 class="white weight700">Proposed network-wide software upgrade</h4>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
    </div>

  <div class="row padding1t content1">
    <div class="large-5 columns content1">
      <div class="panel margin125b">
        <div class="row">
          <div class="large-7 columns text-left">
            <h5 class="weight500">Latest Updates</h5>
          </div>
          <div class="large-5 columns text-right">
            <%= link_to image_tag('plusradiusbox.png', class:"padding04v"), newsposts_path %>
          </div>
        </div>
      </div>

      <a href="#">
	      <div class="margin125b">
	        <div class="row updatesborder">
	          <div class="large-12 columns text-left">
	            <div class="panel br3t">
	              <h6 class="weight500 font08">Callum Short<span class="font07 weight300"> Kabin Devon</span></h6>
	            </div>
	            <div class="panel whitepanel">
	              <p class="font08 weight500 padding02t06b">Heading out to the franchise conference this weekend, will post some pictures on the forum once I get back. Wish me luck!</p>
	            </div>
	            <div class="whitebg content bt1grey datepanel br3b">
	              <div class="row valign-middle">
	                <div class="large-6 columns text-left">
	                  <h6 class="weight300 font07 margin0b">5 hours ago</h6>
	                </div>
	                <div class="large-6 columns text-right">
	                  <%= image_tag('heartit.png', class: "margin0b") %>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </a>

      <a href="#">
	      <div class="margin125b">
	        <div class="row updatesborder">
	          <div class="large-12 columns text-left">
	            <div class="panel br3t">
	              <h6 class="weight500 font08">Callum Short<span class="font07 weight300"> Kabin Devon</span></h6>
	            </div>
	            <div class="panel whitepanel">
	              <p class="font08 weight500 padding02t06b">Heading out to the franchise conference this weekend, will post some pictures on the forum once I get back. Wish me luck!</p>
	            </div>
	            <div class="whitebg content bt1grey datepanel br3b">
	              <div class="row valign-middle">
	                <div class="large-6 columns text-left">
	                  <h6 class="weight300 font07 margin0b">5 hours ago</h6>
	                </div>
	                <div class="large-6 columns text-right">
	                  <%= image_tag('heartit.png', class: "margin0b") %>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </a>

      <a href="#">
	      <div class="margin125b">
	        <div class="row updatesborder">
	          <div class="large-12 columns text-left">
	            <div class="panel br3t">
	              <h6 class="weight500 font08">Callum Short<span class="font07 weight300"> Kabin Devon</span></h6>
	            </div>
	            <div class="panel whitepanel">
	              <p class="font08 weight500 padding02t06b">Heading out to the franchise conference this weekend, will post some pictures on the forum once I get back. Wish me luck!</p>
	            </div>
	            <div class="whitebg content bt1grey datepanel br3b">
	              <div class="row valign-middle">
	                <div class="large-6 columns text-left">
	                  <h6 class="weight300 font07 margin0b">5 hours ago</h6>
	                </div>
	                <div class="large-6 columns text-right">
	                  <%= image_tag('heartit.png', class: "margin0b") %>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </a>

      <a href="#">
	      <div class="margin125b">
	        <div class="row updatesborder">
	          <div class="large-12 columns text-left">
	            <div class="panel br3t">
	              <h6 class="weight500 font08">Callum Short<span class="font07 weight300"> Kabin Devon</span></h6>
	            </div>
	            <div class="panel whitepanel">
	              <p class="font08 weight500 padding02t06b">Heading out to the franchise conference this weekend, will post some pictures on the forum once I get back. Wish me luck!</p>
	            </div>
	            <div class="whitebg content bt1grey datepanel br3b">
	              <div class="row valign-middle">
	                <div class="large-6 columns text-left">
	                  <h6 class="weight300 font07 margin0b">5 hours ago</h6>
	                </div>
	                <div class="large-6 columns text-right">
	                  <%= image_tag('heartit.png', class: "margin0b") %>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </a>
    </div>

    <div class="row">
    	<div class="large-7 columns">


		    <div class="large-5 columns content1">
		      <div class="forumactivitypanel">
		      	<div class="panel">
			        <div class="margin125b">
			          <div class="row">
			            <div class="large-9 columns text-left">
			              <h5 class="weight500">Forum Activity</h5>
			            </div>
			            <div class="large-3 columns text-right">
			              <%= image_tag('plusradiusbox.png', class:"padding04v")  %>
			            </div>
			          </div>
			        </div>
		        </div>
		        <div class="row whitebg content3 forumactivityrecentguides">
			        <div class="margin125b margin125t">
			          <div class="row lightgreybg br3t br3b forumactivityborder">
			            <div class="large-12 columns content padding07v">
			              <p class="font075 margin0b"><span class="blue">Jordan Short</span> replied to thread <span class="weight700">"How to launch your local social media"</span> 10 minutes ago</p>
			            </div>
			          </div>
			        </div>
			        <div class="margin125b">
			          <div class="row lightgreybg br3t br3b forumactivityborder">
			            <div class="large-12 columns content padding07v">
			              <p class="font075 margin0b"><span class="blue">Jordan Short</span> replied to thread <span class="weight700">"How to launch your local social media"</span> 10 minutes ago</p>
			            </div>
			          </div>
			        </div>
			        <div class="margin125b">
			          <div class="row lightgreybg br3t br3b forumactivityborder">
			            <div class="large-12 columns content padding07v">
			              <p class="font075 margin0b"><span class="blue">Jordan Short</span> replied to thread <span class="weight700">"How to launch your local social media"</span> 10 minutes ago</p>
			            </div>
			          </div>
			        </div>
			      </div>
		      </div>
		    </div>

		    <div class="large-7 columns content1">
	      	<div class="panel">
		      	<div class="margin125b">
			        <div class="row">
			          <div class="large-7 columns text-left">
			            <h5 class="weight500">Recent Guides</h5>
			          </div>
			          <div class="large-5 columns text-right">
			            <%= image_tag('plusradiusbox.png', class:"padding04v")  %>
			          </div>
			        </div>
			      </div>
			    </div>
			    <div class="row whitebg content3 forumactivityrecentguides">
		        <div class="margin09b margin125t">
		          <div class="row lightgreybg br3t br3b forumactivityborder">
		            <div class="large-12 columns content padding07v">
		              <p class="font08 margin0b">How to use the new ice cream machine</p>
		            </div>
		          </div>
		        </div>
		        <div class="margin09b">
		          <div class="row lightgreybg br3t br3b forumactivityborder">
		            <div class="large-12 columns content padding07v">
		              <p class="font08 margin0b">How to use the new ice cream machine</p>
		            </div>
		          </div>
		        </div>
		        <div class="margin09b">
		          <div class="row lightgreybg br3t br3b forumactivityborder">
		            <div class="large-12 columns content padding07v">
		              <p class="font08 margin0b">How to use the new ice cream machine</p>
		            </div>
		          </div>
		        </div>
		        <div class="margin09b">
		          <div class="row lightgreybg br3t br3b forumactivityborder">
		            <div class="large-12 columns content padding07v">
		              <p class="font08 margin0b">How to use the new ice cream machine</p>
		            </div>
		          </div>
		        </div>
		        <div class="margin09b">
		          <div class="row lightgreybg br3t br3b forumactivityborder">
		            <div class="large-12 columns content padding07v">
		              <p class="font08 margin0b">How to use the new ice cream machine</p>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>

		    <div class="margin125b">
			    <div class="row content1">
			    	<div class="large-12 columns panel content1 margin125t">
			    		<br><br><br><br><br>
			    	</div>
			    </div>
			  </div>

		    <div class="margin125b">
			    <div class="row content1">
			    	<div class="large-12 columns panel content1">
			    		<br><br><br><br><br>
			    	</div>
			    </div>
			  </div>


		  </div>
		</div>


	<script type="text/javascript">
	  (function() {

	      $(function() {

	        $(function() {
	          $('.latestnews').matchHeight();
	        });

	        $(function() {
	          $('.forumactivityrecentguides').matchHeight();
	        });

	        
	      });

	  })();
	</script>
