<div class="grey333bg positionrelative">
	<div class="row content2 padding5t1b">
		<div class="large-4 columns">
			<%= image_tag('supporttitle.png', class: "hqtitle") %>
		</div>
		<div class="large-7 columns text-center greytabsposition">
			<ul class="inline-list greytabs">
				<li>Guides</li>
				<li>Knowledge Base</li>
				<li>Portal</li>
			</ul>
		</div>
	</div>
</div>

<div class="row content1 padding2t padding2b">
	<div class="row">
		<div class="large-7 columns">
			<div class="row">
				<div class="large-12 columns content1">
			    <div class="panel">
			      <div class="row">
	            <div class="large-9 columns text-left">
	              <h5 class="weight500">Your Support Tickets</h5>
	            </div>
	            <div class="large-3 columns text-right">
	              <a href= "#"><%= image_tag('plusradiusbox.png', class:"padding04v")  %></a>
	            </div>
			      </div>
			    </div>
			    <div class="row whitebg padding125t content3 supportrow1">
        <div class="margin125b">
          <div class="row whitebg forumactivityborder">
            <div class="large-8 columns content padding07v">
              <p class="font08 margin0b weight500">I'm having issues using our delivery system</p>
            </div>
            <div class="large-2 columns content padding08v greybg text-center lightgreybg">
            	<p class="font07 margin0b weight500 textup darkgrey">1 Replies</p>
            </div>
          	<div class="large-2 columns content padding08v greybg text-center lightgreybg">
              <p class="font07 margin0b weight500 textup darkgrey">15/11/2014</p>
            </div>
          </div>
        </div>
        <div class="margin125b">
          <div class="row whitebg forumactivityborder">
            <div class="large-8 columns content padding07v">
              <p class="font08 margin0b weight500">I'm having issues using our delivery system</p>
            </div>
            <div class="large-2 columns content padding08v greybg text-center lightgreybg">
            	<p class="font07 margin0b weight500 textup darkgrey">1 Replies</p>
            </div>
          	<div class="large-2 columns content padding08v greybg text-center lightgreybg">
              <p class="font07 margin0b weight500 textup darkgrey">15/11/2014</p>
            </div>
          </div>
        </div>
        <div class="margin125b">
          <div class="row whitebg forumactivityborder">
            <div class="large-8 columns content padding07v">
              <p class="font08 margin0b weight500">I'm having issues using our delivery system</p>
            </div>
            <div class="large-2 columns content padding08v greybg text-center lightgreybg">
            	<p class="font07 margin0b weight500 textup darkgrey">1 Replies</p>
            </div>
          	<div class="large-2 columns content padding08v greybg text-center lightgreybg">
              <p class="font07 margin0b weight500 textup darkgrey">15/11/2014</p>
            </div>
          </div>
        </div>
        <div class="margin125b">
          <div class="row whitebg forumactivityborder">
            <div class="large-8 columns content padding07v">
              <p class="font08 margin0b weight500">I'm having issues using our delivery system</p>
            </div>
            <div class="large-2 columns content padding08v greybg text-center lightgreybg">
            	<p class="font07 margin0b weight500 textup darkgrey">1 Replies</p>
            </div>
          	<div class="large-2 columns content padding08v greybg text-center lightgreybg">
              <p class="font07 margin0b weight500 textup darkgrey">15/11/2014</p>
            </div>
          </div>
        </div>
        <div class="margin125b">
          <div class="row whitebg forumactivityborder tic">
            <div class="large-8 columns content padding07v">
              <p class="font08 margin0b weight500">I'm having issues using our delivery system</p>
            </div>
            <div class="large-2 columns content padding08v greybg text-center lightgreybg">
            	<p class="font07 margin0b weight500 textup darkgrey">1 Replies</p>
            </div>
          	<div class="large-2 columns content padding08v greybg text-center lightgreybg">
              <p class="font07 margin0b weight500 textup darkgrey">15/11/2014</p>
            </div>
          </div>
        </div>
			    <% @paginated_tickets.each do |ticket| %>
			    	<%= ticket.subject %>
			   	<% end %>
			    </div>
			  </div>
			</div>
	  </div>
		<div class="large-5 columns content1">
	    <div class="panel">
	      <div class="row">
	        <div class="large-12 columns text-left">
	          <h5 class="weight500">Contact Details</h5>
	        </div>
	      </div>
	    </div>
	    <div class="row whitebg content2 supportrow1">
	    	<div class="padding2v">
	    		<div class="row">
			    	<div class="large-12 columns text-left">
			    		<h6 class="weight500">Telephone</h6>
			    		<h6 class="font08">Callum Short - 07906 574103</h6>
			    		<h6 class="font08">Jordan Short - 07906 574103</h6>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="large-12 columns text-left">
			    		<h6 class="weight500">Email</h6>
			    		<h6 class="font08">Callum Short - callum@getkabin.co.uk</h6>
			    		<h6 class="font08">Jordan Short - jordan@getkabin.co.uk</h6>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="large-12 columns text-left">
			    		<h6 class="weight500">Address</h6>
			    		<h6 class="font08">4 South View Pasture</h6>
			    		<h6 class="font08">Cranbrook, Exeter</h6>
			    		<h6 class="font08">Devon, United Kingdom</h6>
			    		<h6 class="font08">EX5 7DA</h6>
			    	</div>
			    </div>
		    </div>
	    </div>
	  </div>
	</div>
	<div class="row padding1t">
		<div class="large-6 columns content1">
	    <div class="panel">
        <div class="row">
          <div class="large-9 columns text-left">
            <h5 class="weight500">Recent Knowledge Base Entries</h5>
          </div>
          <div class="large-3 columns text-right">
            <%= image_tag('plusradiusbox.png', class:"padding04v")  %>
          </div>
        </div>
	    </div>
	    <div class="row whitebg content3 padding125t supportrow2">
        <div class="margin125b">
          <div class="row whitebg forumactivityborder">
            <div class="large-12 columns content padding07v">
              <p class="font08 margin0b">How to use the new ice cream machine</p>
            </div>
          </div>
        </div>
        <div class="margin125b">
          <div class="row whitebg forumactivityborder">
            <div class="large-12 columns content padding07v">
              <p class="font08 margin0b">How to use the new ice cream machine</p>
            </div>
          </div>
        </div>
        <div class="margin125b">
          <div class="row whitebg forumactivityborder">
            <div class="large-12 columns content padding07v">
              <p class="font08 margin0b">How to use the new ice cream machine</p>
            </div>
          </div>
        </div>
        <div class="margin125b">
          <div class="row whitebg forumactivityborder">
            <div class="large-12 columns content padding07v">
              <p class="font08 margin0b">How to use the new ice cream machine</p>
            </div>
          </div>
        </div>
	    </div>
		</div>
		<div class="large-6 columns content">
	    <div class="panel">
        <div class="row">
          <div class="large-9 columns text-left">
            <h5 class="weight500">Recent Guides</h5>
          </div>
          <div class="large-3 columns text-right">
            <%= image_tag('plusradiusbox.png', class:"padding04v")  %>
          </div>
        </div>
	    </div>
	    <div class="row whitebg content3 padding125t supportrow2">
        <div class="margin125b">
          <div class="row whitebg forumactivityborder">
            <div class="large-12 columns content padding07v">
              <p class="font08 margin0b">How to use the new ice cream machine</p>
            </div>
          </div>
        </div>
        <div class="margin125b">
          <div class="row whitebg forumactivityborder">
            <div class="large-12 columns content padding07v">
              <p class="font08 margin0b">How to use the new ice cream machine</p>
            </div>
          </div>
        </div>
        <div class="margin125b">
          <div class="row whitebg forumactivityborder">
            <div class="large-12 columns content padding07v">
              <p class="font08 margin0b">How to use the new ice cream machine</p>
            </div>
          </div>
        </div>
        <div class="margin125b">
          <div class="row whitebg forumactivityborder">
            <div class="large-12 columns content padding07v">
              <p class="font08 margin0b">How to use the new ice cream machine</p>
            </div>
          </div>
        </div>
	    </div>
		</div>
	</div>

</div>

	<script type="text/javascript">
	  (function() {

	      $(function() {

	        $(function() {
	          $('.supportrow1').matchHeight();
	        });

	        $(function() {
	          $('.supportrow2').matchHeight();
	        });

	        $(function() {
	          $('.header1').matchHeight();
	        });
	        
	      });

	  })();
	</script>