<!DOCTYPE html>
<html>
<head>
  <title>Franchise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic' rel='stylesheet' type='text/css'>
</head>
<body> 
  
<div class="row sticky">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <div class="large-2 columns">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#"><%= image_tag('logo.png') %></a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>
    </div>

    <div class="large-10 columns">
        <section class="top-bar-section">
          <div class="row valign-middle">

            <div class="large-6 columns">
              <!-- Left Nav Section -->
              <ul class="left">
                <li><a href="<%= root_path %>" class="">HOME</a></li>
                <li><a href="#" class="">BRANCHES</a></li>
                <li><a href="#" class="">GEMS</a></li>
              </ul>
            </div>

            <div class="large-6 columns content">
              <!-- Right Nav Section -->
              <div class="right">
                <div class="row collapse">
                  <div class="small-10 columns">
                    <input type="text" placeholder="Search by keyword, topic or branch location" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search by keyword, topic or branch location'">
                  </div>
                  <div class="small-2 columns">
                    <a href="#" class="button postfix"><%= image_tag('searchicon.png', class: "margin65b") %></a>
                  </div>
                </div>
              </div>
            </div>


        </section>
        </div>
      </div>
    </div>

  </nav>
</div>


<div class="row">
  <div class="large-2 columns sidebarmaincontent">
    <ul class="side-nav">
      <li class="socialnav sidehoverbutton"><a href="#" class="usernav">
        <div class="row valign-middle">
          <div class="large-4 columns text-left">
            <%= image_tag('defaultpropic.png') %>
          </div>
          <div class="large-9 columns text-left">
            <p class="margin0b lineheight12"><span class="font08"><%= current_user.forename %> <%= current_user.surname %></span><br><span class="font07">Kabin Devon</span></p>
          </div>
        </div>
        </a></li>
      <li class="socialnav sidehoverbutton">
        <a href="#">
          <div class="row">
            <div class="large-3 columns content">
              <%= image_tag('messagesicon.png') %>
            </div>
            <div class="large-8 columns">
              <span class="sidehovertext">Messages</span>
            </div>
            <div class="large-1 columns text-right grey">
              3
            </div>
          </div>
        </a>
      </li>
      <li class="socialnav sidehoverbutton">
        <a href="#">
          <div class="row">
            <div class="large-3 columns content">
              <%= image_tag('notificationicon.png') %>
            </div>
            <div class="large-8 columns">
              <span class="sidehovertext">Notifications</span>
            </div>
            <div class="large-1 columns text-right grey">
              12
            </div>
          </div>
        </a>
      </li>
      <div id="sidedropdown">
        <li class="socialnav sidehoverbutton">
          <a href="#">
            <div class="row">
              <div class="large-3 columns content">
                <%= image_tag('profileicon.png') %>
              </div>
              <div class="large-9 columns">
                <span class="sidehovertext">My Profile</span>
              </div>
            </div>
          </a>
        </li>
        <li class="socialnav sidehoverbutton">
          <%= link_to edit_user_registration_path do %>
            <div class="row">
              <div class="large-3 columns content">
                <%= image_tag('editaccounticon.png') %>
              </div>
              <div class="large-9 columns">
                <span class="sidehovertext">Edit Account</span>
              </div>
            </div>
          <% end %>
        </li>
        <li class="socialnav sidehoverbutton">
          <%= link_to destroy_user_session_path, :method => :delete do %>
            <div class="row">
              <div class="large-3 columns content">
                <%= image_tag('logouticon.png') %>
              </div>
              <div class="large-9 columns">
                <span class="sidehovertext">Logout</span>
              </div>
            </div>
          <% end %>
        </li>
      </div>
      <li class="socialnav sidehoverbutton" id="more">
        <a href="#">
          <div class="row">
            <div class="large-3 columns content">
              <%= image_tag('plusicon.png', id: "moreicon") %>
            </div>
            <div class="large-9 columns">
              <span class="" id="moretext">More</span>
            </div>
          </div>
        </a>
      </li>
      <li class="sidecat">
        <div class="row">
          <div class="large-12 columns content">
            <span class="font1">HQ</span>
          </div>
        </div>
      </li>
      <li class="sidehoverbutton">
        <a href="#">
          <div class="row">
            <div class="large-3 columns content">
              <%= image_tag('portalicon.png') %>
            </div>
            <div class="large-9 columns">
              <span class="font07 sidehovertext">Portal</span>
            </div>
          </div>
        </a>
      </li>
      <li class="sidehoverbutton">
        <a href="#">
          <div class="row">
            <div class="large-3 columns content">
              <%= image_tag('supporticon.png') %>
            </div>
            <div class="large-9 columns">
              <span class="font07 sidehovertext">Support</span>
            </div>
          </div>
        </a>
      </li>
      <li class="sidecat">
        <div class="row">
          <div class="large-12 columns content">
            <span class="font1">Discuss</span>
          </div>
        </div>
      </li>
      <li class="sidehoverbutton">
        <a href="#">
          <div class="row">
            <div class="large-3 columns content">
              <%= image_tag('feedicon.png') %>
            </div>
            <div class="large-9 columns">
              <span class="font07 sidehovertext">Feed</span>
            </div>
          </div>
        </a>
      </li>
      <li class="sidehoverbutton">
        <a href="#">
          <div class="row">
            <div class="large-3 columns content">
              <%= image_tag('forumicon.png') %>
            </div>
            <div class="large-9 columns">
              <span class="font07 sidehovertext">Forum</span>
            </div>
          </div>
        </a>
      </li>
      <li class="sidecat">
        <div class="row">
          <div class="large-12 columns content">
            <span class="font1">Learn</span>
          </div>
        </div>
      </li>
      <li class="sidehoverbutton">
        <a href="#">
          <div class="row">
            <div class="large-3 columns content">
              <%= image_tag('knowledgebaseicon.png') %>
            </div>
            <div class="large-9 columns">
              <span class="font07 sidehovertext">Knowledge Base</span>
            </div>
          </div>
        </a>
      </li>
      <li class="sidehoverbutton">
        <a href="#">
          <div class="row">
            <div class="large-3 columns content">
              <%= image_tag('guidesicon.png') %>
            </div>
            <div class="large-9 columns">
              <span class="font07 sidehovertext">Guides</span>
            </div>
          </div>
        </a>
      </li>
      <li class="sidecat">
          <div class="row">
            <div class="large-12 columns content">
              <span class="font1">Gems</span>
            </div>
          </div>
      </li>
      <li class="sidehoverbutton">
        <a href="#">
          <div class="row">
            <div class="large-3 columns content">
              <%= image_tag('printden.png') %>
            </div>
            <div class="large-9 columns">
              <span class="sidehovertext">Print Den</span>
            </div>
          </div>
        </a>
      </li>
      <li class="sidehoverbutton">
        <a href="#">
          <div class="row">
            <div class="large-3 columns content">
              <%= image_tag('mossmail.png') %>
            </div>
            <div class="large-9 columns">
              <span class="sidehovertext">Moss Mail</span>
            </div>
          </div>
        </a>
      </li>

    </ul>
  </div>

  <div class="large-10 columns sidebarmaincontent contentbg">

    <%= yield %>

  </div>


  </div>

    <div class="row grey3bg">
    <div class="large-12 columns">
      <br><br><br><br>
    </div>
  </div>

  <script>

  $("#sidedropdown").hide();
  $("#more").click( function(){
    if($("#sidedropdown").is(':visible')){
      $("#sidedropdown").slideUp("medium");
      $("#moretext").text("More");
      $("#moreicon").attr("src", "/assets/plusicon.png")
    }
    else{ 
      $("#sidedropdown").slideDown("medium");
      $("#moretext").text("Less");
      $("#moreicon").attr("src", "/assets/minusicon.png")
       }
  });

  </script>
  <script type="text/javascript">
    (function() {

        $(function() {

          $(function() {
            $('.sidebarmaincontent').matchHeight();
          });

          
        });

    })();
  </script>
  <script>
    $(document).foundation();
  </script>

</body>
</html>
